/*==================================================
    Author: Naeem Nur
    Author Site: http://naeemnur.com
==================================================*/

/* --- CSS Reset --- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, button, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-family: "Roboto", Helvetica, Arial, sans-serif; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; -ms-word-wrap: break-word; word-wrap: break-word; }
html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
img, video { max-width: 100%; height: auto; }
iframe, object, embed { max-width: 100%; }
[hidden], template { display: none; visibility: hidden; }
img { -ms-interpolation-mode: bicubic; }
a:focus, button:focus { outline: thin dotted; outline: 0.3125em auto -webkit-focus-ring-color; outline-offset: -0.15625em; }
a:hover, a:active { outline: 0; }

/* --- Clear Fix --- */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }

/* --- Viewport Fix --- */
@-webkit-viewport {width: device-width;zoom: 1.0;}
@-moz-viewport {width: device-width;zoom: 1.0;}
@-ms-viewport {width: device-width;zoom: 1.0;}
@-o-viewport {width: device-width;zoom: 1.0;}
@viewport {width: device-width;zoom: 1.0;}

/* --- Typography --- */
body {   font-family: "Helvetica Neue", Arial, sans-serif;font-size: 100%;line-height: 1.5;color: #272727;background: white; }
@media (min-width: 40em) {body { line-height: 1.5625; }}
p { margin-bottom: 1.5625em; }
a { color: #0088cc; text-decoration: underline; word-wrap: break-word; }
a:hover { color: #343843; text-decoration: none; }
a img { border: none; background: none; }
a:hover img { border: none; background: none; opacity: 0.8; filter: alpha(opacity=80); }
ul, ol, dl { margin-bottom: 1.5625em; margin-left: 2em; }
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0; }
ul { list-style: disc; }
ol { list-style: decimal; }
dl { margin-left: 0; }
dt { font-weight: bold; }
h1, h2, h3, h4, h5, h6 { font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; line-height: 1.2; font-weight: normal; margin-bottom: 1em; padding-top: 1em; }
h1 { font-size: 1.5em; padding-top: .5em; }

@media (min-width: 40em) {h1 { font-size: 1.75em; }}
h2 { font-size: 1.3125em; }
h3 { font-size: 1.1875em; }
h4, h5, h6 { font-size: 0.9375em; }
h1 a { -webkit-transition: color 0.2s ease-out; -moz-transition: color 0.2s ease-out; transition: color 0.2s ease-out; }
hr { margin: 1em auto; border: 0; border-top: 0.0725em solid #e5e5e5; border-bottom: 0 solid white; }
strong { font-weight: bold; }
em { font-style: italic; }
sub, sup { position: relative; font-size: 85%; font-weight: bold; line-height: 0; vertical-align: baseline; margin-left: 0.25em; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
::selection { color: white; background: #0088cc; }
::-moz-selection {color: white;background: #0088cc;}
blockquote { border-left: 0.25em solid #e5e5e5; margin-bottom: 1.5625em; padding-left: 1.5625em; padding-right: 1.5625em; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
code, pre { font-family: Menlo, Monaco, "Courier New", monospace; font-size: 0.875em; }
code { color: #dd1144; background-color: #f7f7f7; padding: 0.25em; }
pre { display: block; margin-bottom: 1.5625em; line-height: 1.5; background-color: #f4f4f4; padding: 0.8125em; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; white-space: pre-wrap; word-break: break-all; }
pre code { font-size: 1em; padding: 0; color: inherit; background-color: transparent; border: 0; }
.list-unstyled { margin-left: 0; list-style: none; }
.text-small { font-size: 0.9375em; }
.text-tall { font-size: 1.1875em; line-height: 1.4; }
.text-taller {
  font-size: 2em;
  line-height: 1.4; }

@media (min-width: 40em) {
  .text-tall {
    font-size: 1.3125em; }

  .text-taller {
    font-size: 3em; } }
.text-muted { color: gray; }

/* --- Template Design --- */
.container { max-width: 820px; margin: 0 auto;}
#top {font-size: 10px; letter-spacing:1px; text-transform: uppercase;}
#top a {color: #fff; text-decoration: none;}
#content h2 {
font-size: 1.3125em;
border-bottom: 1px solid #ddd;
padding-bottom: 0.5em;
}

/* --- Footer --- */
#colophon { color: #a6adb3; display: block; }

/* --- Tables --- */
table { width: 100%; max-width: 100%; margin-bottom: 1.5625em; border-collapse: collapse; border-spacing: 0; }
th, td { text-align: left; padding: 0.5em; }
th { background-color: #f2f2f2; font-weight: bold; vertical-align: bottom; }
td { border-top: 0.0725em solid #ededed; vertical-align: top; }
tbody tr:nth-child(even) { background-color: #f7f7f7; }
.table-condensed th, .table-condensed td { padding: 0.25em; }

/* --- Forms --- */
form, fieldset { margin-bottom: 1.5625em; }
legend, label { display: block; font-weight: normal; padding: 0; margin-bottom: 0.3125em; }
input, textarea, select { display: block; width: 100%; font: inherit; line-height: 1.5; color: #555555; margin-bottom: 1.1875em; padding: 0.3125em; border: 0.0725em solid #b8b8b8; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
form button, form .button { margin-bottom: 1.1875em; }
textarea { height: 12em; }
input[type="image"], input[type="checkbox"], input[type="radio"] { display: inline-block; width: auto; height: auto; padding: 0; margin-bottom: 0.3125em; cursor: pointer; }
input:focus, textarea:focus { border-color: rgba(82, 168, 236, 0.8); box-shadow: inset 0 0.0725em 0.0725em rgba(0, 0, 0, 0.075), 0 0 0.5em rgba(82, 168, 236, 0.6); outline: 0; outline: thin dotted \9; }
input[type="file"]:focus, input[type="checkbox"]:focus, select:focus { outline: thin dotted; outline: 0.3125em auto -webkit-focus-ring-color; outline-offset: -0.125em; }
.input-inline { display: inline-block; width: auto; vertical-align: middle; }
.input-condensed { padding: 0.0725em 0.3125em; font-size: 0.9375em; }

/* --- Text Alignment, Spacing & Visibility --- */
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.float-left { float: left; }
.float-center { float: none; margin-left: auto; margin-right: auto; }
.float-right { float: right; }
.no-space { margin: 0; padding: 0; }
.no-space-bottom { margin-bottom: 0; padding-bottom: 0; }
.no-space-top { margin-top: 0; padding-top: 0; }
.space-bottom { margin-bottom: 1em; }
.space-bottom-small { margin-bottom: 0.5em; padding-bottom: 0; }
.space-top { padding-top: 0.8125em; }

/* --- Buttons --- */
.btn { display: inline-block; font-size: 0.9375em; padding: 0.5em 0.6875em; line-height: 1.2; font-weight: normal; background-color: #0088cc; border: 0.0725em solid #0088cc; margin-right: 0.3125em; margin-bottom: 0.3125em; }
.btn, .btn:hover, a .btn:hover, .btn.active { color: white; }
.btn:hover, a .btn:hover, .btn.active { background-color: #005580; border-color: #005580; text-decoration: none; }
.btn-secondary { background-color: gray; border-color: gray; }
.btn-secondary:hover, a .btn-secondary:hover, .btn-secondary.active { background-color: #5a5a5a; border-color: #5a5a5a; }
.btn:active, .btn.active { box-shadow: inset 0 0.15625em 0.25em rgba(0, 0, 0, 0.15), 0 0.0725em 0.15625em rgba(0, 0, 0, 0.05); outline: 0; }
.btn.disabled, .btn[disabled] { pointer-events: none; cursor: not-allowed; opacity: 0.5; filter: alpha(opacity=50); box-shadow: none; }
.btn-large { padding: 0.6875em 0.9375em; font-size: 1em; line-height: normal; }
.btn-block, input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block { display: block; width: 100%; margin-right: 0; padding-right: 0; padding-left: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
button, .btn { cursor: pointer; text-align: center; vertical-align: middle; -webkit-appearance: none; }
.btn:last-child, input.btn { margin-right: 0; }

/* --- Backgrounds --- */
.bg { background-color: #f7f7f7; padding-top: 1.5em; padding-bottom: 1.5em; }
.bg-secondary { color: white; background-color: #0088cc; }
.bg-condensed { padding-top: 0.9375em; padding-bottom: 0.9375em; }

/* --- Callout Boxes --- */
.hero { margin-bottom: 1.5625em; padding: 1.5em; }
.hero-condensed { padding: 0.9375em; }

/* --- Alerts --- */
.alert { color: #005580; background-color: #cce7f4; border: 0.0725em solid #a5d5ed; margin-bottom: 1.5625em; padding: 0.25em 0.5em; }
.alert-success { color: #1f481c; background-color: #d7e5d5; border-color: #b9d2b6; }
.alert-danger { color: #43070a; background-color: #e7ced0; border-color: #d5aaac; }
.alert-warning { color: #614a04; background-color: #f7edcd; border-color: #f2e0a8; }
.screen-reader { position: absolute; top: -9999em; left: -9999em; }

/* --- Img --- */
.img-border, .img-photo { border: 0; }
.img-photo { background-color: white; box-shadow: 0 0.0725em 0.0725em rgba(0, 0, 0, 0.1); width: 150px; margin: 1.5em 1em; transition: opacity .25s ease-in-out; -moz-transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out; }
.img-circle { border-radius: 50%; }

/* --- Print Styles --- */
@media print {
* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
@page { margin: 0.5cm; }
a, a:visited { text-decoration: underline; }
a[href]:after { content: " (" attr(href) ")"; }
a[href^="#"]:after { content: ""; }
p, h1, h2, h3 { orphans: 3; widows: 3; }
h1, h2, h3 { page-break-after: avoid; }
pre, blockquote { border-color: #999; page-break-inside: avoid; }
thead { display: table-header-group; }
tr, img { page-break-inside: avoid; }
}
