/*--- Colors ---*/

.hero-unit, .for-hire .btn, .page-numbers.current { background: #096484; }
.hero-unit h1, .hero-unit h4,  #colophon a i, .footer-menu li a:hover, .footer-menu li a.current{ color: #096484; }
.search-btn, a { color: #096484; }
.search-btn:hover, #colophon a:hover > i { color: #52ACCC; -webkit-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.sidebar, #main  { background: #52ACCC; }
.site-logo, #social-icons { background: #4796B3; }
@media (min-width: 40em) {
#social-icons { background: transparent; }
}

.btn { background-color: #096484; }
.btn:hover, a .btn:hover, .btn.active, li.filter.active > .btn  { background-color: #4796B3;}

.navigation a { background-color: #4796B3; color: #e2ecf1; }
.navigation li:hover > a, .navigation li.focus > a, a.current, .grid figcaption { background-color: #096484; color: #f7f7f7 }
.sidebar .text-muted, #social-icons a i { color: #e2ecf1; }
#access select { background: #e2ecf1;  color: #52ACCC;}

.search-wrap { background: #52ACCC; }
.search-wrap .text-muted { color: #e2ecf1; }
.search-close, .search-info { color:#52ACCC; }

::-webkit-input-placeholder {color: #e2ecf1;}
:-moz-placeholder {color: #e2ecf1;}
::-moz-placeholder {color: #e2ecf1;}
:-ms-input-placeholder {color: #e2ecf1;}

.overlay {background: rgba(9, 100, 132, 0.83); }