/*--- Colors ---*/

.hero-unit, .for-hire .btn, .page-numbers.current { background: #C7A589; }
.hero-unit h1, .hero-unit h4,  #colophon a i, .footer-menu li a:hover, .footer-menu li a.current{ color: #C7A589; }
.search-btn, a { color: #C7A589; }
.search-btn:hover, #colophon a:hover > i { color: #59524C; -webkit-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.sidebar, #main  { background: #59524C;}
.site-logo, #social-icons { background: #46403C; }
@media (min-width: 40em) {
#social-icons { background: transparent; }
}

.btn { background-color: #C7A589; }
.btn:hover, a .btn:hover, .btn.active, li.filter.active > .btn  { background-color: #46403C;}

.navigation a { background-color: #46403C; color: #cdcbc9; }
.navigation li:hover > a, .navigation li.focus > a, a.current, .grid figcaption { background-color: #C7A589; color: #f7f7f7 }

.sidebar .text-muted, #social-icons a i { color: #cdcbc9; }
#access select { background: #cdcbc9;  color: #59524C;}

.search-wrap { background: #59524C; }
.search-wrap .text-muted { color: #cdcbc9; }
.search-close, .search-info { color: #59524C; }

::-webkit-input-placeholder {color: #cdcbc9;}
:-moz-placeholder {color:#cdcbc9;}
::-moz-placeholder {color: #cdcbc9;}
:-ms-input-placeholder {color: #cdcbc9;}

.overlay {background: rgba(199, 165, 137, 0.83); }