/*--- Colors ---*/

.hero-unit, .for-hire .btn, .page-numbers.current { background: #256db6; }
.hero-unit h1, .hero-unit h4,  #colophon a i, .footer-menu li a:hover, .footer-menu li a.current { color: #256db6; }
.search-btn, a { color: #256db6; }
.search-btn:hover, #colophon a:hover > i { color: #343843; -webkit-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.sidebar, #main { background: #343843; }
.site-logo, #social-icons { background: #292c35; }
@media (min-width: 40em) {
#social-icons { background: transparent; }
}

.btn { background-color: #256db6; }
.btn:hover, a .btn:hover, .btn.active, li.filter.active > .btn { background-color: #343843;}

.navigation a { background-color: #292c35; }
.navigation li:hover > a, .navigation li.focus > a, a.current, .grid figcaption { background-color: #256db6; color: #f7f7f7}

.sidebar .text-muted, #social-icons a i { color: #a6adb3; }
#access select { background: #a6adb3;  color: #343843;}

.search-wrap { background: #343843; }
.search-wrap .text-muted { color: #a6adb3; }
.search-close, .search-info,  { color: #343843; }

::-webkit-input-placeholder {color: #a6adb3;}
:-moz-placeholder {color: #a6adb3;}
::-moz-placeholder {color: #a6adb3;}
:-ms-input-placeholder {color: #a6adb3;}

.overlay { background: rgba(37, 109, 182, 0.92); }