/*--- Colors ---*/

.hero-unit, .for-hire .btn, .page-numbers.current { background: #1abc9c; }
.hero-unit h1, .hero-unit h4,  #colophon a i, .footer-menu li a:hover, .footer-menu li a.current { color: #1abc9c; }
.search-btn, a { color: #1abc9c; }
.search-btn:hover, #colophon a:hover > i { color: #2c3e50; -webkit-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.sidebar, #main { background: #2c3e50; }
.site-logo, #social-icons { background: #34495e; }

@media (min-width: 40em) {
#social-icons { background: transparent; }
}

.btn { background-color: #1abc9c; }
.btn:hover, a .btn:hover, .btn.active, li.filter.active > .btn  { background-color: #2c3e50;}

.navigation a { background-color: #34495e; }
.navigation li:hover > a, .navigation li.focus > a, a.current, .grid figcaption { background-color: #1abc9c; color: #f7f7f7}

.sidebar .text-muted, #social-icons a i { color: #ecf0f1; }
#social-icons a i:hover { color: #ddd }
#access select { background: #ecf0f1;  color: #2c3e50;}

.search-wrap { background: #2c3e50; }
.search-wrap .text-muted { color: #ecf0f1; }
.search-close, .search-info,  { color: #2c3e50; }

::-webkit-input-placeholder {color: #ecf0f1;}
:-moz-placeholder {color: #ecf0f1;}
::-moz-placeholder {color: #ecf0f1;}
:-ms-input-placeholder {color: #ecf0f1;}

.overlay { background: rgba(26, 188, 156, 0.83); }