/*--- Colors ---*/

.hero-unit, .for-hire .btn, .page-numbers.current { background: #888888 }
.hero-unit h1, .hero-unit h4,  #colophon a i, .footer-menu li a:hover, .footer-menu li a.current{ color: #888888; }
.search-btn, .for-hire h2, a { color: #888888; }
.search-btn:hover, #colophon a:hover > i { color: #686868; -webkit-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.sidebar, #main  { background: #F5F5F5; }
.site-logo, #social-icons {  background: #E5E5E5; }
#social-icons a i:hover { color: #888888 }
@media (min-width: 40em) {
#social-icons { background: transparent; }
}

.btn { background-color: #888888; }
.btn:hover, a .btn:hover, .btn.active, li.filter.active > .btn  { background-color: #E5E5E5;}

#site-title { color: #333; }
.navigation a { background-color: #E5E5E5; color: #686868; }
.navigation li:hover > a, .navigation li.focus > a, a.current, .grid figcaption { background-color: #888888; color: #f7f7f7 }
.sidebar .text-muted, #social-icons a i { color: #686868; }
#access select { background: #686868;  color: #F5F5F5;}

.search-wrap { background: #F5F5F5; }
.search-wrap .text-muted { color: #686868; }
.search-close, .search-info { color: #686868; }

.for-hire { background: #e5e5e5; }

::-webkit-input-placeholder {color: #686868;}
:-moz-placeholder {color: #686868;}
::-moz-placeholder {color: #686868;}
:-ms-input-placeholder {color: #686868;}

.overlay {background: rgba(136, 136, 136, 0.83); }