/*
@template  Hiro
@author    Naeem Nur
@url       http://naeemnur.com
@version   1.0
*/

/* ----- $reset ----- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, button, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-family: "Roboto", Helvetica, Arial, sans-serif; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; -ms-word-wrap: break-word; word-wrap: break-word; }
html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -ms-overflow-style: scrollbar;}
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
img, video { max-width: 100%; height: auto; }
iframe, object, embed { max-width: 100%; }
[hidden], template { display: none; visibility: hidden; }
img { -ms-interpolation-mode: bicubic; }
a:focus, button:focus { outline: thin dotted; outline: 0.3125em auto -webkit-focus-ring-color; outline-offset: -0.15625em; }
a:hover, a:active { outline: 0; }

/* ----- $clearfix ----- */
.clearfix:before, .row:before, .clearfix:after, .row:after { display: table; content: ""; }
.clearfix:after, .row:after { clear: both; }
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

@-webkit-viewport {width: device-width;zoom: 1.0;}
@-moz-viewport {width: device-width;zoom: 1.0;}
@-ms-viewport {width: device-width;zoom: 1.0;}
@-o-viewport {width: device-width;zoom: 1.0;}
@viewport {width: device-width;zoom: 1.0;}

/* ----- $framework ----- */
body { background: #eee; font-weight: 300; font-family: "Roboto", Helvetica, Arial, sans-serif; font-size: 16px; line-height: 26px; color: #333; min-width: 300px; }

@media (min-width: 40em) {
    body { line-height: 1.5625; }
}

p { margin-bottom: 1.5625em; }
a { color: #a6adb3; text-decoration: none; word-wrap: break-word; }
a:hover { color: #343843; text-decoration: none; -webkit-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
a img { border: none; background: none; }
a:hover img { border: none; background: none; opacity: 0.8; filter: alpha(opacity=80); }
ul, ol, dl { margin-bottom: 1.5625em; margin-left: 2em; }
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0; }
ul { list-style: disc; }
ol { list-style: decimal; }
dl { margin-left: 0; }
dt { font-weight: bold; }
h1, h2, h3, h4, h5, h6 { font-family: "Roboto Condensed", Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif; line-height: 1.2; font-weight: normal; margin-bottom: 1em; padding-top: 1em; color: #666; }
h1 { font-size: 1.5em; padding-top: .5em; }

@media (min-width: 40em) {
    h1 { font-size: 1.75em; }
}

h2 { font-size: 1.3125em; }
h3 { font-size: 1.1875em; }
h4 { font-size: 1em; }
h5, h6 { font-size: 0.9375em; }
hr { margin: 2em auto; border: 0; border-top: 0.0725em solid #e5e5e5; border-bottom: 0 solid white; }
strong { font-weight: bold; }
em { font-style: italic; }
sub, sup { position: relative; font-size: 85%; font-weight: bold; line-height: 0; vertical-align: baseline; margin-left: 0.25em; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
::selection { color: white; background: #bfcddb; }
::-moz-selection {color: white;background: #bfcddb;}
blockquote { border-left: 0.25em solid #e5e5e5; margin-bottom: 1.5625em; padding-left: 1.5625em; padding-right: 1.5625em; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
code, pre { font-family: Menlo, Monaco, "Courier New", monospace; font-size: 0.875em; }
code { color: #dd1144; background-color: #f7f7f7; padding: 0.25em; }
pre { display: block; margin-bottom: 1.5625em; line-height: 1.5; background-color: #f4f4f4; padding: 0.8125em; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; white-space: pre-wrap; word-break: break-all; }
pre code { font-size: 1em; padding: 0; color: inherit; background-color: transparent; border: 0; }
.list-unstyled { margin-left: 0; list-style: none; }
.text-small { font-size: 0.9375em; }
.text-tall { font-size: 1.1875em; line-height: 1.4; }
.text-taller { font-size: 2em; line-height: 1.4; }

@media (min-width: 40em) {
    .text-tall { font-size: 1.3125em; }
    .text-taller { font-size: 3em; }
}

.text-muted { color: gray; }
table { width: 100%; max-width: 100%; margin-bottom: 1.5625em; border-collapse: collapse; border-spacing: 0; }
th, td { text-align: left; padding: 0.5em; }
th { background-color: #f2f2f2; font-weight: bold; vertical-align: bottom; }
td { border-top: 0.0725em solid #ededed; vertical-align: top; }
tbody tr:nth-child(even) { background-color: #f7f7f7; }
.table-condensed th, .table-condensed td { padding: 0.25em; }
form, fieldset { margin-bottom: 1.5625em; }
legend, label { display: block; font-weight: normal; padding: 0; margin-bottom: 0.3125em; }
input, textarea, select { display: block; width: 100%; font: inherit; line-height: 1.5; color: #555555; margin-bottom: 1.1875em; padding: 0.5em; border: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #eee}
form button, form .button { margin-bottom: 1.1875em; }
textarea { height: 12em; }
input[type="image"], input[type="checkbox"], input[type="radio"] { display: inline-block; width: auto; height: auto; padding: 0; margin-bottom: 0.3125em; cursor: pointer; }
input[type="file"]:focus, input[type="checkbox"]:focus, select:focus { outline: thin dotted; outline: 0.3125em auto -webkit-focus-ring-color; outline-offset: -0.125em; }
input:hover, input:focus, v:active, textarea:hover, textarea:focus, textarea:active { outline: none; }
.input-inline { display: inline-block; width: auto; vertical-align: middle; }
.input-condensed { padding: 0.0725em 0.3125em; font-size: 0.9375em; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.float-left { float: left; }
.float-center { float: none; margin-left: auto; margin-right: auto; }
.float-right { float: right; }
.no-space { margin: 0; padding: 0; }
.no-space-bottom { margin-bottom: 0; padding-bottom: 0; }
.no-space-top { margin-top: 0; padding-top: 0; }
.space-bottom { margin-bottom: 1.5em; }
.space-bottom-small { margin-bottom: 0.5em; padding-bottom: 0; }
.space-top { padding-top: 0.8125em; }
.btn { -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box; display: inline-block; font-size: 0.9375em; padding: 0.5em 0.6875em; line-height: 1.2; font-weight: normal; margin-right: 0.3125em; margin-bottom: 0.3125em; }
.btn, .btn:hover, a .btn:hover, .btn.active { color: white; }
.btn:hover, a .btn:hover, .btn.active { text-decoration: none; }
.btn-secondary { background-color: gray; }
.btn-secondary:hover, a .btn-secondary:hover, .btn-secondary.active { background-color: #5a5a5a; border-color: #5a5a5a; }
.btn.disabled, .btn[disabled] { pointer-events: none; cursor: not-allowed; opacity: 0.5; filter: alpha(opacity=50); box-shadow: none; }
.btn-large { padding: 0.6875em 0.9375em; font-size: 1em; line-height: normal; }
.btn-block, input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block { display: block; width: 100%; margin-right: 0; padding-right: 0; padding-left: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
button, .btn { cursor: pointer; text-align: center; vertical-align: middle; -webkit-appearance: none; }
.btn:last-child, input.btn { margin-right: 0; }
.bg { background-color: #f7f7f7; padding-top: 1.5em; padding-bottom: 1.5em; margin-left: -1.5em; margin-right: -1.5em; }
.bg-secondary { color: white; background-color: #0088cc; }
.bg-condensed { padding-top: 0.9375em; padding-bottom: 0.9375em; }
.hero { margin-bottom: 1.5625em; padding: 1.5em; background: #f7f7f7; }
.hero-condensed { padding: 0.9375em; }
.blog .hero-condensed {margin-bottom: 0; padding-bottom: 0;}

.alert { color: #005580; background-color: #cce7f4; border: 0.0725em solid #a5d5ed; margin-bottom: 1.5625em; padding: 0.25em 0.5em; border-radius: 0.0725em; }
.alert-success { color: #1f481c; background-color: #d7e5d5; border-color: #b9d2b6; }
.alert-danger { color: #43070a; background-color: #e7ced0; border-color: #d5aaac; }
.alert-warning { color: #614a04; background-color: #f7edcd; border-color: #f2e0a8; }
.img-border, .img-photo { border: 0; }
.img-photo { background-color: white; box-shadow: 0 0.0725em 0.0725em rgba(0, 0, 0, 0.1); width: 150px; margin: 1.5em 1em; transition: opacity .25s ease-in-out; -moz-transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out; }
.img-circle { border-radius: 50%; }

/* ----- $font-icons ----- */
@font-face { font-family: 'hiro'; src: url('../fonts/hiro.eot'); src: url('../fonts/hiro.svg#hiro') format('svg'), url('../fonts/hiro.eot?#iefix') format('embedded-opentype'), url('../fonts/hiro.woff') format('woff'), url('../fonts/hiro.ttf') format('truetype'); font-weight: normal; font-style: normal; }
[class^="icon-"], [class*=" icon-"], [class*="box"] { font-family: 'hiro'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.icon-twitter:before { content: "\e600"; }
.icon-facebook:before { content: "\e601"; }
.icon-google-plus:before { content: "\e602"; }
.icon-mail:before { content: "\e603"; }
.icon-feed:before { content: "\e604"; }
.icon-github:before { content: "\e605"; }
.icon-menu:before { content: "\e606"; }
.icon-search:before { content: "\e608"; }
.icon-cross:before { content: "\e609"; }
.icon-arrow-left:before { content: "\e60b"; }
.icon-arrow-right:before { content: "\e60c"; }
.icon-arrow-up:before { content: "\e60d"; }
.icon-eye:before { content: "\e607"; }
.icon-cog:before { content: "\e60a"; }
.icon-search2:before { content: "\e60e"; }

#social-icons { margin: 0; padding: 1em 0; background: #292c35; }
@media (min-width: 40em) {
    #social-icons { margin-top: 0.5em; padding: 0; }
}

#social-icons a i { font-size: 32px; padding: 0 5px; margin-top: 2em; -webkit-transition: 300ms linear 0s; -moz-transition: 300ms linear 0s; -o-transition: 300ms linear 0s; transition: 300ms linear 0s; }
#social-icons a i:hover { color: #f7f7f7 }
.social-inner { float: right; padding: 0 1.5em; margin-top: 3px; }

@media (min-width: 40em) {
    .social-inner { float: none; text-align: center; margin-top: 0; }
}

/* ----- $grids ----- */
@media (min-width: 20em) {
    .row { margin-left: -1.515151515152%; margin-right: -1.515151515152%; }
    .grid-fourth, .grid-third, .grid-half, .grid-two-thirds, .grid-three-fourths, .grid-full, .grid-img { float: left; width: 96.969696969697%; margin-left: 1.515151515152%; margin-right: 1.515151515152%; }
    .grid-flip { float: right; }
    .row-start-xsmall .grid-fourth { width: 21.96969696969%; }
    .row-start-xsmall .grid-third { width: 30.30303030303%; }
    .row-start-xsmall .grid-half, .grid-img { width: 46.969696969697%; }
    .row-start-xsmall .grid-two-thirds { width: 63.636363636364%; }
    .row-start-xsmall .grid-three-fourths { width: 71.969696969697%; }
    .row-start-xsmall .grid-full { width: 96.969696969697%; }
}

@media (min-width: 30em) {
    .row-start-small .grid-fourth { width: 21.96969696969%; }
    .row-start-small .grid-third, .grid-img { width: 30.30303030303%; }
    .row-start-small .grid-half { width: 46.969696969697%; }
    .row-start-small .grid-two-thirds { width: 63.636363636364%; }
    .row-start-small .grid-three-fourths { width: 71.969696969697%; }
    .row-start-small .grid-full { width: 96.969696969697%; }
}

@media (min-width: 60em) {
    .grid-fourth, .grid-img { width: 21.96969696969%; }
    .grid-third { width: 30.30303030303%; }
    .grid-half { width: 46.969696969697%; }
    .grid-two-thirds { width: 63.636363636364%; }
    .grid-three-fourths { width: 71.969696969697%; }
    .grid-full { width: 96.969696969697%; }
    .offset-fourth { margin-left: 26.484848484848%; }
    .offset-third { margin-left: 34.848484848485%; }
    .offset-half { margin-left: 51.515151515152%; }
    .offset-two-thirds { margin-left: 68.181818181818%; }
    .offset-three-fourths { margin-left: 76.484848484848%; }
}

/* ----- $design ----- */
#wrap { background: #f7f7f7; }
.home #wrap { background: #fff; }

@media (min-width: 40em) {
    .sidebar { position: fixed; top: 0px; width: 240px; height: 100%; color: #fff; font-weight: 200; z-index: 1030; }
    #wrap { margin-left: 240px; position: relative; }
}

@media (min-width: 85.438em) {
    .sidebar { width: 280px; }
    #wrap { margin-left: 280px; }
}

.primary-inner { background: #fff; padding: 1.5em }
#primary, #secondary { float: none; position: relative; }
#hero-top { position: absolute; bottom: 0.5em; right: 1em; display: block; }
#secondary { margin-bottom: 1.5em; }

@media (min-width: 60em) {
    #primary, #secondary { float: left; }
    #primary { width: 100%; margin-right: -300px; }
    #secondary { width: 300px; margin-top: 0; padding-bottom: 1.5em; }
    .primary-inner { margin-right: 0; }
    .blog .primary-inner, .portfolio-single .primary-inner { margin-right: 300px; min-height: 768px;}
}

#site-title { color: #fff; text-transform: uppercase; font-weight: bold; font-size: 22px; text-align: center; }

@media (max-width: 40em) {
    #title-area p { margin-bottom: 0; }
}

#site-name { padding-top: 0.5em; }
.hero-unit { padding: 1.5em; font-family: "Roboto Condensed", Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif; position: relative; }
.site-logo img { max-width: 150px; height: 150px; }

@media (min-width: 40em) {
    .site-logo { height: 204px; }
    .hero-unit { height: 156px; }
}

.hero-unit h1 { background: #fff; display: inline-block; padding: 0.2em; margin: 0 0 0.5em; font-size: 2.2em; }
.hero-unit p.text-muted { color: #fff; }

@media (min-width: 60em) {
    .featured .grid-third { width: 31.30303%; margin-right: 0; margin-bottom: 1.515151515152%; }
}

.featured .content { margin-bottom: -3em; }

@media (min-width: 60em) {
    .featured .content { padding-bottom: 0; margin-bottom: 0; }
}

.featured-text { position: absolute; top: 0; margin: 0; background: #8E8E8E; width: 100%; padding: 0.5em 1.5em; box-sizing: border-box; color: #fff; }
.featured { padding-bottom: 0; position: relative; margin-bottom: .5em; }


.view-all { font-size: 16px; line-height: 1.5; display: inline !important; text-transform: none; font-weight: normal; }
.view-all a { color: #888; }
.view-all a:hover { color: #444; }
.widget-title { color: #333; font-size: 1.1em; font-weight: 400; border-bottom: 1px solid #e8e8e8; letter-spacing: 1px; }
.widget-title span { border-bottom: 2px solid #333; padding-bottom: 8px; display: inline-block; margin-bottom: -1px; }
.home .btn:hover, .portfolio-single .btn:hover  { color: #fff; }
.home .btn a, .portfolio-single .btn  a{ color: inherit;}
.home i.btn { width: 100%; display: block; -webkit-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

@media (min-width: 60em) {
    .home aside.hero { padding-left: 0; }
}

aside.hero > .alert { padding: 1em; background: #e8e8e8; border: 0; color: #666; margin-bottom: 0; }
.home aside.hero > .alert { background: #f7f7f7; }
#sidebar-submit { display: none; }
#sidebar-s { margin: 0; border: 0; background: #e8e8e8; padding: 0.5em 1.5em; }
#sidebar-s::-webkit-input-placeholder { color: #666; }
#sidebar-s:-moz-placeholder { color: #666;}
#sidebar-s::-moz-placeholder { color: #666; }
#sidebar-s:-ms-input-placeholder { color: #666; }

#mobile-search form { margin-bottom: 0; }
.portfolio-categories { margin-bottom: 1em; }
.portfolio-categories li { float: none;  }

@media (min-width: 45em) {
    .portfolio-categories li { float: left; margin-right: 1em; }
}

@media (min-width: 60em) {
    #mobile-search { display: none; }
}

/* ----- $header ----- */
.menu { display: none; }
#access { padding: 0.5em; position: relative; }
#access select { display: block; height: 32px; width: 32px; line-height: 29px; text-transform: uppercase; -webkit-appearance: none; position: absolute; border-bottom: 0 none; cursor: pointer; margin: 0; padding: 0 0 0 5px; top: 35px; border: 0; left: 23px; border-radius: 98px; /* font-size: 22px; */ /* font-weight: bold; */ }
#access select option { background: #fff!important; color: #333 !important; }

@media (min-width: 40em) {
    #access { padding: 0; }
    #access select { display: none; }
    .menu { display: block; }
}
.navigation ul { padding: 0; }
.navigation a { color: #a6adb3; display: block; padding: 2% 0; font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 18px;text-decoration: none; }
.navigation a:hover { color: #f8f9f9; text-decoration: none; }
.navigation li { position: relative; }
.navigation li:last-child { border-bottom: 0; }
.navigation li ul li { z-index: 99999; }
.navigation ul > li ul { position: absolute; left: 240px; opacity: 0; filter: alpha(opacity=0); visibility: hidden; top: 0; width: 180px; }

@media screen and (min-width: 85.438em) {
    .navigation ul > li ul { left: 280px; }
}
.navigation ul > li:hover > ul { opacity: 10; filter: alpha(opacity=100); visibility: visible; }

/* ----- $search-overlay ----- */
.search-btn, .search-close, .search-overlay, .search-wrap { display: none; }
@media (min-width: 60em) {
    .search-btn, .search-close { padding: 0.3em 0.5em; display: inline-block; font-size: 1.2em; cursor: pointer; background: #fff; position: absolute; right: 1.3em; bottom: 1.3em; }
    .search-overlay { position: relative; z-index: 4000; display: none; }
    .search-wrap { position: absolute; height: 156px; top: 0; left: 0; right: 0; margin: -1.5em; padding: 1.5em; display: inline-block; }
    .search-wrap p.search-info { background: #fff; display: inline-block; padding: 0.2em; margin: 0 0 0.5em; font-size: 2.2em; font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; line-height: 1.2; }
    .search-wrap .search-close { background: #fff; }
    .search-wrap #searchform input[type="submit"] { display: none; }
    .search-wrap #searchform input#s { color: #fff; background: none !important; border: none !important; padding: 0; margin: 0; word-wrap: break-word; }
}

/* ----- $footer ----- */
#colophon { clear: both; box-shadow: 0 0 7px rgba(0,0,0,0.2); }
#colophon p { line-height: 32px; }
#colophon .hero-unit { height: auto; font-family: "Roboto", Helvetica, Arial, sans-serif; }
#colophon .hero-unit h4 { background: #fff; display: inline-block; padding: 0.2em; margin: 0 0 0.5em; font-size: 1.8em; }
#colophon a i { padding: 0.5em; display: inline-block; font-size: 1.2em; cursor: pointer; background: #fff; }

/* ----- $for-hire ----- */
.for-hire { color: #666; background: #F5F6F6; padding: 1.5em; height: auto; clear: both; }
.for-hire h2 { line-height: 2.0; color: #666; }
.for-hire .btn { border: 0; margin-bottom: 0; text-transform: uppercase; font-weight: 600; color: #fff; width: 100%; margin-top: 0.5em; }

@media (min-width: 60em) {
    .for-hire { padding: 1.5em; height: 45px;}
    .for-hire .btn {width: auto; margin-top: 0;}
}

/* ----- $slider ----- */
.js .slider { position: relative; overflow: hidden; visibility: hidden; }
.js .slides { overflow: hidden; position: relative; }
.js .slides > div { width: 100%; float: left; position: relative; }
.slides img, .slides video, .slides iframe { max-width: 100%; }
.slides img, .slides video { width: 100%; height: auto; }
.slider:before, .slider:after { display: table; content: ""; }
.slider:after { clear: imboth; }
.slides h4 { display: inline-block; font-weight: 600; font-size: 18px; margin-bottom: 0.5em; padding-top: 0; }
.slides p { margin-bottom: 0; }
.slide-meta a { display: inline; font-size: 20px; color: #a6adb3; }
.slide-meta a:hover { color: #666; }
.slide-count { font-size: 12px; }
.slide-nav a { color: #a6adb3 }
.slide-nav a:hover { color: #666 }

/* ----- $testimonial ----- */
.testimonial { padding: 1em 1.5em; position: relative; }
.testimonial { background-color: #F5F6F6; color: #666 }
.testimonial .widget-title {margin-bottom: 1.5em; }
.img-testimonial, img.img-testimonial { display: none; }
@media (min-width: 60em) {
    img.img-testimonial { display: block; width: 100px; height: 100px; border: 5px solid; margin-right: 1.5em; margin-left: 1px; border-color: #ddd; /*-webkit-transition-duration: 0.3s; transition-duration: 0.3s;*/ }
}

/* ----- $portfolio ----- */
.portfolio-single .grid figure { margin-bottom: 1em;}
.grid figure { margin: 0 0 1.5em; position: relative; }
@media (min-width: 60em) {
    .grid figure {margin: 0}
}
.grid figure img { max-width: 100%; display: block; position: relative; }
.overlay { position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);-webkit-backface-visibility: hidden;-webkit-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out; }
.overlay:hover { opacity: 1; filter: alpha(opacity=100); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
.view-project{display: block;position: absolute;top: 41.5%;text-align: center;z-index: 1;line-height: 0;color: #fff;font-weight: bold;font-size: 3em;-webkit-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;width: 100%;}
.blog .view-project {top: 35.5%;}

@media screen and (max-width: 31.5em) {
    .grid li { width: 100%; min-width: 300px; }
}
.projects .mix { display: none; }

/* ----- $nicescroll ----- */
.nicescroll-rails { z-index: 999999!important; }
#ascrail2000 > div { background:#000!important; }

/* ----- $blog ----- */
.entry-title a { color: #333; }
.entry-title a:hover { color: #a6adb3; }
.entry-meta { font-size: 11px; text-transform: uppercase; letter-spacing: 1px; color: #ccc;}
.entry-meta span { display: block; border-bottom: 1px solid #eee; padding: 5px 0; }
.post-thumbnail {position: relative;}

/* ----- $blog pagination ----- */
.pagination a { color: #bbb; text-decoration: none; }
.pagination a:hover { text-decoration: none; background: #f7f7f7; color: #111; }
.page-numbers { float: left; list-style-type: none; text-align: center; display: block; text-decoration: none; padding: 3px 12px; }
.page-numbers.current { color: #fff; }


/* ----- $plugins ----- */
.animated { -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -ms-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -ms-animation-duration: 1s; -o-animation-duration: 1s; animation-duration: 1s; }
.fadeIn { -webkit-animation-name: fadeIn; -moz-animation-name: fadeIn; -o-animation-name: fadeIn; animation-name: fadeIn; }

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media (min-width: 40em) {
    .float-shadow { display: inline-block; position: relative; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: -webkit-transform; transition-property: transform; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
    .float-shadow:before { pointer-events: none; position: absolute; z-index: -1; content: ''; top: 100%; left: 5%; height: 10px; width: 90%; opacity: 0; background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%); background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%); -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: -webkit-transform, opacity; transition-property: transform, opacity; }
    .float-shadow:hover { -webkit-transform: translateY(-5px); -ms-transform: translateY(-5px); transform: translateY(-5px); }
    .float-shadow:hover:before { opacity: 1; -webkit-transform: translateY(5px); -ms-transform: translateY(5px); transform: translateY(5px); }
}
.pace { -webkit-pointer-events: none; pointer-events: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; }
.pace-inactive { display: none; }
.pace .pace-progress { background: #fff; position: fixed; z-index: 2000; top: 0; left: 0; height: 2px; -webkit-transition: width 1s; -moz-transition: width 1s; -o-transition: width 1s; transition: width 1s; }
.pace .pace-progress-inner { display: block; position: absolute; right: 0px; width: 100px; height: 100%; box-shadow: 0 0 10px #fff, 0 0 5px #fff; opacity: 1.0; -webkit-transform: rotate(3deg) translate(0px, -4px); -moz-transform: rotate(3deg) translate(0px, -4px); -ms-transform: rotate(3deg) translate(0px, -4px); -o-transform: rotate(3deg) translate(0px, -4px); transform: rotate(3deg) translate(0px, -4px); }
.pace .pace-activity { display: block; position: fixed; z-index: 2000; top: 15px; right: 15px; width: 14px; height: 14px; border: solid 2px transparent; border-top-color: #fff; border-left-color: #fff; border-radius: 10px; -webkit-animation: pace-spinner 400ms linear infinite; -moz-animation: pace-spinner 400ms linear infinite; -ms-animation: pace-spinner 400ms linear infinite; -o-animation: pace-spinner 400ms linear infinite; animation: pace-spinner 400ms linear infinite; }

@-webkit-keyframes pace-spinner {
0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@-moz-keyframes pace-spinner {
0% {-moz-transform: rotate(0deg);transform: rotate(0deg);}
100% {-moz-transform: rotate(360deg);transform: rotate(360deg);}
}
@-o-keyframes pace-spinner {
0% {-o-transform: rotate(0deg);transform: rotate(0deg);}
100% {-o-transform: rotate(360deg);transform: rotate(360deg);}
}
@-ms-keyframes pace-spinner {
0% {-ms-transform: rotate(0deg);transform: rotate(0deg);}
100% {-ms-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes pace-spinner {
0% {transform: rotate(0deg);transform: rotate(0deg);}
100% {transform: rotate(360deg);transform: rotate(360deg);}
}

/* ----- $print ----- */
@media print {
    * { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
    @page { margin: 0.5cm; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    a[href^="#"]:after { content: ""; }
    p, h1, h2, h3 { orphans: 3; widows: 3; }
    h1, h2, h3 { page-break-after: avoid; }
    pre, blockquote { border-color: #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
}