/*--- Colors ---*/

.hero-unit, .for-hire .btn, .page-numbers.current { background: #A3B745; }
.hero-unit h1, .hero-unit h4,  #colophon a i, .footer-menu li a:hover, .footer-menu li a.current{ color: #A3B745; }
.search-btn, a { color: #A3B745; }
.search-btn:hover, #colophon a:hover > i { color: #523F6D; -webkit-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.sidebar, #main  { background: #523F6D;}
.site-logo, #social-icons { background: #413256; }
@media (min-width: 40em) {
#social-icons { background: transparent; }
}

.btn { background-color: #A3B745; }
.btn:hover, a .btn:hover, .btn.active, li.filter.active > .btn  { background-color: #413256;}

.navigation a { background-color: #413256; color: #cbc5d3; }
.navigation li:hover > a, .navigation li.focus > a, a.current, .grid figcaption { background-color: #A3B745; color: #f7f7f7 }
.sidebar .text-muted, #social-icons a i { color: #cbc5d3; }
#access select { background: #cbc5d3;  color: #523F6D;}
.search-wrap { background: #523F6D; }
.search-wrap .text-muted { color:  #cbc5d3; }
.search-close, .search-info { color: #523F6D; }

::-webkit-input-placeholder {color: #cbc5d3;}
:-moz-placeholder {color: #cbc5d3;}
::-moz-placeholder {color: #cbc5d3;}
:-ms-input-placeholder {color: #cbc5d3;}

.overlay {background: rgba(163, 183, 69, 0.83); }