/*--- Colors ---*/

.hero-unit, .for-hire .btn, .page-numbers.current { background: #E14D43; }
.hero-unit h1, .hero-unit h4,  #colophon a i, .footer-menu li a:hover, .footer-menu li a.current{ color: #E14D43; }
.search-btn, a { color: #E14D43; }
.search-btn:hover, #colophon a:hover > i { color: #363B3F; -webkit-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.sidebar, #main  { background: #363B3F; }
.site-logo, #social-icons {  background: #26292C; }
@media (min-width: 40em) {
#social-icons { background: transparent; }
}

.btn { background-color: #E14D43; }
.btn:hover, a .btn:hover, .btn.active, li.filter.active > .btn  { background-color: #26292C;}

.navigation a { background-color: #26292C; color: #c2c4c5; }
.navigation li:hover > a, .navigation li.focus > a, a.current, .grid figcaption { background-color:#E14D43; color: #f7f7f7 }

.sidebar .text-muted, #social-icons a i { color: #c2c4c5; }
#access select { background: #c2c4c5;  color: #363B3F;}

.search-wrap { background: #363B3F; }
.search-wrap .text-muted { color: #c2c4c5; }
.search-close, .search-info { color: #363B3F; }

::-webkit-input-placeholder {color: #c2c4c5;}
:-moz-placeholder {color: #c2c4c5;}
::-moz-placeholder {color: #c2c4c5;}
:-ms-input-placeholder {color: #c2c4c5;}

.overlay {background: rgba(225, 77, 67, 0.83); }

.view-project { color: rgba(225, 77, 67, 1); }