/*--- Colors ---*/

.hero-unit, .for-hire .btn, .page-numbers.current { background: #9EBAA0; }
.hero-unit h1, .hero-unit h4,  #colophon a i, .footer-menu li a:hover, .footer-menu li a.current{ color: #9EBAA0; }
.search-btn, a { color: #9EBAA0; }
.search-btn:hover, #colophon a:hover > i { color: #738E96; -webkit-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.sidebar, #main  { background: #738E96; }
.site-logo, #social-icons {  background: #627C83; }
@media (min-width: 40em) {
#social-icons { background: transparent; }
}

.btn { background-color: #9EBAA0; }
.btn:hover, a .btn:hover, .btn.active, li.filter.active > .btn  { background-color: #627C83;}

.navigation a { background-color: #627C83; color: #d5dddf; }
.navigation li:hover > a, .navigation li.focus > a, a.current, .grid figcaption{ background-color: #9EBAA0; color: #f7f7f7 }
.sidebar .text-muted, #social-icons a i { color: #d5dddf; }
#access select { background: #d5dddf;  color: #738E96;}

.search-wrap { background:  #738E96; }
.search-wrap .text-muted { color: #d5dddf; }
.search-close, .search-info { color:  #738E96; }

::-webkit-input-placeholder {color: #d5dddf;}
:-moz-placeholder {color: #d5dddf;}
::-moz-placeholder {color: #d5dddf;}
:-ms-input-placeholder {color: #d5dddf;}

.overlay {background: rgba(158, 186, 160, 0.83); }