/*--- Colors ---*/

.hero-unit, .for-hire .btn, .page-numbers.current { background: #DD823B; }
.hero-unit h1, .hero-unit h4,  #colophon a i, .footer-menu li a:hover, .footer-menu li a.current{ color: #DD823B; }
.search-btn, a { color: #DD823B; }
.search-btn:hover, #colophon a:hover > i { color: #CF4944; -webkit-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.sidebar, #main  { background: #CF4944;}
.site-logo, #social-icons{  background: #BE3631; }
@media (min-width: 40em) {
#social-icons { background: transparent; }
}

.btn { background-color: #DD823B; }
.btn:hover, a .btn:hover, .btn.active, li.filter.active > .btn  { background-color: #BE3631;}

.navigation a { background-color: #BE3631; color: #f0c8c6; }
.navigation li:hover > a, .navigation li.focus > a, a.current, .grid figcaption { background-color: #DD823B; color: #f7f7f7 }
.sidebar .text-muted, #social-icons a i { color: #f0c8c6; }
#access select { background: #f0c8c6; color: #CF4944;}

.search-wrap { background:  #CF4944; }
.search-wrap .text-muted { color: #f0c8c6; }
.search-close, .search-info { color:  #CF4944; }

::-webkit-input-placeholder {color: #f0c8c6;}
:-moz-placeholder {color: #f0c8c6;}
::-moz-placeholder {color: #f0c8c6;}
:-ms-input-placeholder {color: #f0c8c6;}

.overlay {background: rgba(221, 130, 59, 0.83); }